section {align-items: center; margin: auto; width: 60%; display: flex; flex-direction: column;}
.wrap-content {width: 100%; display: flex; flex-direction: column; align-items: center;}
/*.js-text-p {color: blue;}*/
.wrap-p-text {border: 1px solid #008000; background: #4caf5029; padding: 25px; font: 16px/2em Arial;}
.buttons {width: 50%; display: flex; justify-content: space-between; margin-top: 20px;}
input {width: 30%; height: 50px; cursor: pointer;}
select {margin-top: 20px;}
